{% extends "base.html" %}
{% block content %}
<h1>Actualizar Productos</h1>
<div class="update-container">
    <div class="update-form">
        <form action="/pizzasA/{{ product_to_update.id }}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.pizzas.label() }}<br>
            {{ form.pizzas() }}<br>
            {{ form.agregados4.label() }}<br>
            {{ form.agregados4() }}<br>
            {{ form.cantidadyMesa4.label() }}<br>
            {{ form.cantidadyMesa4(value=product_to_update.cantidadyMesa4) }}<br>            
            {{ form.añadir() }}<br>
        </form>
    </div>
    <div class="pedido-actual">
        <h2>Pedido modificado:</h2><br>
        <p>{{ product_to_update.pizzas }}</p>
        <p>{{ product_to_update.cantidadyMesa4 }}</p>
        <p>{{ product_to_update.agregados4 }}</p>
    </div>
</div>
{% endblock %}